.menu-link {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.menu-link:before,
.menu-link:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: orange;
    opacity: 0;
}

.menu-link:hover .main-link {
    color: orange;
    transition: color 0.2s linear;
}

.menu-link:hover .blur {
    visibility: visible;
}

a {
    text-decoration: none;
    color: white;
    margin: 0 1vw;
}

.blur {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 10vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
}

.menu-link:hover:before,
.menu-link:hover:after {
    opacity: 1;
}

.drop-content {
    display: flex;
    position: absolute;
    top: 10vh;
    left: 15vw;
    z-index: 2;
    min-width: 70vw;
    width: fit-content;
    height: fit-content;
    background-color: white;
    color: black;
    border: 1px solid black;
    visibility: hidden;
    padding-top: 3vh;
    padding-bottom: 4vh;
}

.menu-link:hover .drop-content{
    visibility: visible;
}

.drop-list {
    list-style-type: none;
}

.drop-list li{
    list-style-type: none;
    margin-top: 10px;
}

.sub-link{
    color: black;
}

.link {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

.sub-link:hover,
.link:hover {
    color: orange;
}

.open-btn {
    display: none;
}

.sub-menu {
    display: none;
}

@media all and (max-width: 775px) {
    .menu-link {
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.5em;
        align-items: start;
        width: 100%;
        border-bottom: 1px solid black;
    }
    .blur {
       display:  none;
    }
    .menu-link:hover .drop-content{
        visibility: hidden;
    }
    .open-btn {
        display: none;
        padding: 0 3vw;
        color: orange;
        cursor: pointer;
    }
    .menu-link:before,
    .menu-link:after {
        display: none;
    }

    .sub-menu {
        display: flex;
        align-items: start;
        padding-left: 5vw;
        flex-direction: column;
        border-bottom: 1px solid black;
        display: none;
    }
    .sub-menu-link {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}